h1 {
    font-family: 'Salsa', cursive;
}

.new-project {
    width: 100px;
    height: 30px;
    background-color: rgb(8, 16, 248);
    color: white;
}

table {
    margin-top: 20px;
}

tr:nth-child(even){
    background-color: rgb(220, 220, 220);
}

#updateProject {
    background-color: red;
    color: white;
}

#deleteProject {
    background-color: green;
    color: white;
}